<div style="margin-right: 15px;margin-left: 15px;">
<h5>Contact Us</h5>
<div style="margin-right: 15px;">
    <strong>Contact Us</strong>
    <p>For product, order related queries, and pretty much anything else, get in touch with us at +91 8976457996 </p>
    <strong>Email</strong> 
    <p> For product, order related queries, and pretty much anything else, write to hello@urbanladder.com</p>
    <strong>Bulk Orders</strong>
    <p>If you are a property manager, an architect, builder, designer or any business enterprise looking to buy in bulk for your hotel, office or any other property, we'd love to help! Email us at bulk@urbanladder.com</p>
    <strong>Partnerships</strong>
    <p>If you're an interior designer or an architect, the Design Network is for you. Partner with us, and discover an easier way to set up gorgeous homes. Click here to sign up!</p>
     
    <p>Everyday, we add stunning new products to our range to help our customers make their homes beautiful. If you would like to partner with us and join our journey of making a million beautiful homes, write to us at sourcing-team@urbanladder.com</p>
    <strong>Technology</strong> 
    <p>For any issues or feedback with our website or app(s), write to tech@urbanladder.com</p>
    
    <p>For sharing any security related issues or concerns, write to security@urbanladder.com</p>
    
    <strong>Connect With Us</strong>
    <p>+91 8976457996</p>
    
</div>
</div>
