<div style="margin-left: 15px;margin-right: 15px;text-align: justify;">
<strong style="color: #7B68EE;">About Us</strong>

<p style="margin-left: 15px;">In 2012, we started Urban Ladder with a vision - to make a million homes beautiful.
Back then, our catalogue featured just 35 designs. Yet, when our customers shared
photographs of their homes, we saw they were remarkably distinct. The same table, the
same chair was used differently by different people. This told us something. People
want their homes to be unique. We also realized that people are a lot happier creating
things than they are buying things. We are a creative, imaginative, expressive species.
And our homes are just one of the many canvases we have at our disposal.</p>

<p style="margin-left: 15px;">Today, we understand that we’re here not just to sell well-designed products. We’re
here to help you create spaces that mirror who you are. At Urban Ladder, we want you
to discover the joy of creating. Starting with your home. We want you to think of the
setting up of a space as an energizing, creative pursuit. To breathe life into empty
rooms with your ideas. To take a few square feet of nothing, and transform it into
something beautiful.</p>

<strong style="color: #7B68EE;">Our Values</strong><br>
<div style="margin-left: 15px;">
    <strong>Customer Obsession:</strong>Customers are at the center of whatever we do at Urban Ladder. We ensure that we get the right customer solution in all our initiatives. We establish a long-term relationship with every customer and aim to delight them in every interaction. We aim to set the global benchmark for customer happiness scores.<br>
    <strong>Honesty & Transparency:</strong>  We are honest, ethical, and trustworthy in the way we
    live life. We hold the highest standards of corporate governance in all our
    activities. We communicate transparently with all our stakeholders. When we
    make mistakes, we are honest and upfront about owning up to them.
    Action Orientation: We have a bias for action. We empower our teams to take
    fast and well informed decisions. We continuously iterate and learn from our
    mistakes. Scale and robustness are built in as we move along.<br>
    <strong> Stepping Up:</strong> We take charge, go the extra mile, and think differently to find
    innovative solutions. When in doubt, we push ourselves harder to solve newer
    challenges and get better solutions.<br>
    <strong>Efficiency:</strong> We are here to build a long-term sustainable business. We aim to do
    more with less and focus on zero waste. We believe that a self-sustaining
    business will be responsible and solve customer problems in the right manner.
</div>
<br>
<strong style="color: #7B68EE;"> Partner with us</strong>

<p style="margin-left: 15px;">Everyday, we add stunning new products to our range to help our customers make their homes beautiful. If you would like like to partner with us and join our journey of making a million beautiful homes, write to us at sourcing-enquiries@urbanladder.com </p>
</div>