nav
{
    background-color: #7B68EE;
}
a{
    color: white;
}
i
{
    font-size: 25px;
    margin-right: 23px;
}
.nav-link
{
    font-size: 18px;
}
.dropdown-item
{
    font-size: 15px;
    color:black;
}
.dropdown-item i
{
    font-size: 22px;
}