<nav class="navbar navbar-expand-lg py-3" *ngIf="isNavbarVisible">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['products']"><strong>Furniture E-Commerce</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" *ngIf="role == 'Admin'">
            <a class="nav-link" [routerLink]="['products/create-product']"><i class="fa fa-plus" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item" *ngIf="role == 'Customer'">
            <a class="nav-link" [routerLink]="['cart']" >
              <i class="fa fa-shopping-cart position-relative">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 12px;">
                  {{cartLength}}
                </span>
              </i>
            </a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" style="cursor: pointer;" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="#"><i class="fa fa-user"><strong style="margin-left: 10px;font-size:18px;" >Welcome {{username}}</strong></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
